/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/* 
    CSS Guide 

    1.  Spa page
    2.  Activities page
    
    4.  Contact us page
    
 */

/* General Styles */

#mobile-outline {
  outline: 20px solid #333;
  max-width: 412px;
  margin: 20px auto 20px auto;
  border-radius: 10px;
}

body {
  color: #626262;
  font-family: "Sanchez", "Times New Roman", serif;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

.cr-red {
  color: #9a2018;
}

.line-separator {
  margin-top: 20px;
  border-top: solid 3px #cf6666;
  padding-top: 20px;
}

/* 1. Spa page */
/* Main Nav */

#main-nav label img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}

#main-nav input,
#burger-con {
  display: none;
}

/*   ~ sibling selector   */

#main-nav input:checked ~ #burger-con {
  display: block;
}

#main-nav input:checked ~ label img {
  transform: rotate(90deg);
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #626262;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

#logo {
  margin-bottom: 20px;
  max-width: 382px;
}

/* Main Hero Image */

#hero {
  background: url(../images/hero-main.svg) no-repeat;
  height: 200px;
}

.book-now {
  background-color: #9a2018;
  color: #fff;
  font-size: 16px;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  transition: all 0.3s ease;
  cursor: pointer;
}

.book-now:hover {
  background-color: rgb(196, 28, 28);
}

#book-now-hero {
  height: 67px;
}

#hero-heading-box {
  align-self: end;
}

.hero-img-h2,
.hero-img-h3 {
  background: rgb(255, 255, 255);
  padding: 10px 15px;
  font-size: 14px;
}

.hero-img-h2 span,
.hero-img-h3 span {
  color: #9a2018;
  font-size: 12px;
}

#hero-summary p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

/* Spa Package and Information */

.spa-package-image {
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}

.spa-package-image-con h2 {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.spa-package-image-con p {
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 20px;
}

.spa-package-image-con a {
  color: #9a2018;
  font-size: 12px;
}

#spa-package-bottom-nav {
  background-color: #9a2018;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.h2-heading {
  color: #9a2018;
}

.hero-head {
  color: #9a2018;
}

#spa-package-bottom-nav ol {
  list-style-type: none;
  margin: 0 0 0 20px;
  padding: 0;
  padding-left: 25%;
}

#spa-package-bottom-nav ol li {
  display: inline;
}

#spa-package-bottom-nav ol li a {
  padding: 5px;
  color: #fff;
}

/* Spa policies */
#policy-summary p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

#policies-and-info-nav {
  padding-top: 20px;
}

#policies-and-info-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#policies-and-info-nav ul li {
  margin-bottom: 15px;
}

#policies-and-info-nav ul li a {
  color: inherit;
  padding: 5px;
}

#policies-and-info-nav ul li a.selected {
  border-left: #9a2018 solid 5px;
}

#policies-and-info-hero-con {
  background: url(../images/spa-policies.svg) no-repeat;
  height: 195px;
}

#policies-and-info-heading-box {
  align-self: end;
}

/* Awards and Recignition */

#awards-hero-con {
  background: url(../images/spa-award.svg) no-repeat;
  height: 195px;
}

#awards-hero-heading-box {
  align-self: end;
}

#awards-text {
  padding-bottom: 60px;
}

#awards-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

/* Quality Assurance */

#quality-image,
#quality-image1 {
  padding: 5% 25%;
}

#quality-text h2 {
  color: #9a2018;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}

#quality-hero-con {
  background: url(../images/spa-quality.svg) no-repeat;
  height: 195px;
}

#quality-hero-heading-box {
  align-self: end;
}

#quality-text {
  padding-bottom: 20px;
}

#quality-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

/* Footer*/

#footer-hero {
  background-image: url(../images/hero-footer.svg);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 12px;
  margin-top: 40px;
  padding-bottom: 80px;
}

#footer-hero h3 {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 16px;
}

#footer-privacy .line-seperator {
  margin-top: 0px;
}

#footer-contact-info h3 {
  font-size: 23px;
}

#footer-contact-info p {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 11px;
}

/* 2. Activities page */

#activities-hero {
  background: url(../images/main-activities.svg) no-repeat;
  height: 200px;
}

#activities-text {
  padding-bottom: 0;
}

#activities-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

#activities1-text h2 {
  color: #c54242;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 30px;
}

#park-activities-hero-con {
  background: url(../images/park.svg) no-repeat;
  height: 195px;
}

#park-activities-hero-heading-box {
  align-self: end;
}

#park-activities-text {
  padding-bottom: 20px;
}

#park-activities-text li {
  font-size: 14px;
  line-height: 22px;
}

#park-activities-text li::marker {
  color: #9a2018;
  font-size: 20px;
}

#park-activities-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

/* Fishing */
#fishing-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

#fishing-text h2 {
  color: #c54242;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 30px;
}

#fishing-hero-con {
  background: url(../images/fish.svg) no-repeat;
  height: 195px;
}

#fishing-hero-heading-box {
  align-self: end;
}

#fishing-text {
  padding-bottom: 20px;
}

#fishing1-text h2 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 30px;
}

#ministry-image {
  padding: 10% 20%;
  width: 200px;
}

#ministry-image1 {
  padding: 10% 30%;
  width: 150px;
}

#ministry-text p {
  font-size: 14px;
  color: black;
  padding-bottom: 60px;
}

/* Gallery Lake */
#lake-text p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 22px;
}

#lake-hero-con {
  background: url(../images/act-lake.svg) no-repeat;
  height: 195px;
}

#lake-hero-heading-box {
  align-self: end;
}

#lake-text {
  padding-bottom: 0;
}

/* 3. Reservations page */

#reservations-hero {
  background: url(../images/booking.png) no-repeat;
  height: 200px;
}

#reservations-hero-form form {
  display: flex;
  flex-direction: column;
}

#reservations-hero-form input,
textarea {
  padding: 12px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
  font: inherit;
  width: auto;
}

#reservations-hero-form textarea {
  height: 250px;
}

#reservations-hero-form input[type="submit"] {
  padding: 12px 28px;
  background: #9a2018;
  color: #fff;
  border: none;
  transition: all 200ms ease-in;
  width: 200px;
  align-self: flex-end;
}

#reservations-hero-form input[type="submit"]:hover {
  background-color: #626262;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#reservations-hero-form input[type="submit"]:focus {
  background-color: #9a2018;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

/* contact-section */
.fas {
  font-size: 42px;
  color: #9a2018;
  margin: 0 auto;
  float: left;
}

.fa-mobile-alt {
  margin-right: 10px;
  margin-left: 3px;
  margin-bottom: 20px;
}

.fa-map-marker-alt {
  margin-right: 10px;
}

#contact-sec {
  font-size: 11px;
  background-color: #efefef;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding-right: 0;
}

#serving-hero-con {
  background: url(../images/serving.png) no-repeat;
  height: 195px;
}

#serving-hero-heading-box {
  align-self: end;
}

/* Dropdown menu */
summary {
  background-color: #efefef;
  padding: 16px;
  margin-bottom: 16px;
}

summary p {
  line-height: 20px;
}

summary::marker {
  color: #9a2018;
  font-size: 18px;
}

a {
  color: inherit;
}

/* Contact Us page */
#contact-hero {
  background: url(../images/contact.svg) no-repeat;
  height: 200px;
}

iframe {
  width: 380px;
  height: 400px;
}

#weather-text p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 50px;
}

#weather-text span {
  font-size: 18px;
  line-height: 22px;
}

#weather-text h2 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 16px;
}

/* bottom form */
#bottom-hero-form input,
textarea {
  padding: 12px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
  font: inherit;
  width: auto;
}

#bottom-hero-form input[type="submit"] {
  padding: 12px 28px;
  background: #9a2018;
  color: #fff;
  border: none;
  transition: all 200ms ease-in;
  width: 200px;
  align-self: flex-end;
}

/* #bottom-hero-form input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
    width: 100%;
 } */

#bottom-hero-form input[type="submit"]:hover {
  background-color: #626262;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#bottom-hero-form input[type="submit"]:focus {
  background-color: #9a2018;
  border-radius: 0;
  width: 100%;
  height: 50px;
  font-size: 20px;
}

#bottom-hero-form textarea {
  height: 250px;
}

#bottom-hero-form form {
  display: flex;
  flex-direction: column;
}

#contact-check {
  display: flex;
  margin-bottom: 15px;
}

#contact-check p {
  margin-left: 10px;
}

#contact-check1 {
  display: flex;
  margin-bottom: 15px;
}

#contact-check1 p {
  margin-left: 10px;
}

#contact-check3 {
  display: flex;
  margin-bottom: 15px;
}

#contact-check3 p {
  margin-left: 10px;
}

/* Psuedo selector */
#contact-check input[type="checkbox"]:checked + p:after {
  content: "✅";
  margin-left: 15px;
}

#contact-check1 input[type="checkbox"]:checked + p:after {
  content: "❌";
  margin-left: 15px;
}

#contact-check3 input[type="checkbox"]:checked + p:after {
  content: "👍";
  margin-left: 15px;
}
